.browse-wrapper{
    width:100vw;
    overflow: hidden;
}
.browse-title{
    font-family: "Roboto Mono";
    font-weight: 900;
    margin-left: 35vw;
    color:whitesmoke;
    background-color:rgb(98, 98, 189);
    border-radius: 1vw;
    letter-spacing: 1vw;
    padding:1vh;
    width:fit-content;
}

.browse-content {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; /* Prevents items from wrapping to the next line */
    display: flex; /* Ensures items are displayed in a row */
  }

  .project {
    flex: 0 0 auto; /* Prevents items from stretching to fill the container */
    margin-right: 10px; /* Adjust margin as needed */
  }


  .dropdown-select{
    color:black;
    border:none;
    font-family:"Roboto Mono";
    margin-left:25vw;

  }
  .scrollable-gallery{
    padding:5vh;
  }