.profile-wrapper {
  /* width: 100vw; */
  overflow: overlay;
  max-width: 100%;
  
    width: 100%;
    max-width: 100%;
    position: relative; /* Ensure the parent container has a position */
  
}
.profile{
  max-width:100%;
  overflow-x: hidden;
}
.profile-logo-wrapper {
  /* width: 100vw; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
}
.header-container{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width:100%;
}
/*User Settings*/
.settings-container{
  display:flex;
  justify-content: right;

}
.user-settings{
  padding:0;
  z-index: 10;
}
.settings-icon{
  width:3vh;
  filter: invert(52%) sepia(1%) saturate(2141%) hue-rotate(321deg) brightness(92%) contrast(83%);
  margin:1vh 0 0 20vw;
  
}
.dropdown-toggle{
  /* width:4vw; */
  padding:0 0 0 3vw;
  margin:2vw 10vw 0 0;
}
.icon-container{
  width:fit-content;
 
}

.dropdown-container{
  width:30vw;
  position: inherit;
  margin:0 3vw 0 0;
  overflow-x:overlay;
  z-index: 10;
  
}
.dropdown-content{
  display: flex;
  flex-direction: column;
  width:fit-content;
  background-color: RGB(0,0,0,.5);
  position: absolute; 
  z-index: 1000; 
  padding:2vw;
  border-radius: 2vw;
  
}
.settings-link{
  text-decoration: none;
  font-weight: 600;
  font-family: "Roboto Mono";
  color: #ffffff;
  margin:0 3vw 0 0;
  padding:1vw;
}
.settings-link:hover{
  color:rgb(98, 98, 189);

}
.profile-logo {
  width: 26vw;
  padding: 2vh 0 0 2vw;
}
.profile-container {
  background-color: rgb(238, 240, 240, 0.5);
  padding:0;
  overflow-x: hidden;
}
.profile-img-wrapper {
  width: fit-content;
  border-radius: 10vh;
  margin:2vh;
}
.profile-img {
  width: 10vh;
  padding: 1em 0 0 0;
  
}
.profile-container-top {
  justify-self: center;
  height: 25vh;
  display: flex;
  flex-direction: row;
  font-family: "Roboto Mono";
  align-content: center;
}
.profile-container-tl {
  width: 30vw;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-username {
  padding: 1vh 0 0.25vh 0;
}
.follow-button {
  border: 0.2vh solid rgb(218, 217, 217);
  background-color: white;
  padding: 1.2vw;
  border-radius: 1vw;
  font-weight: 550;
}
.unfollow-button {
  border: 0.2vh solid rgb(218, 217, 217);
  background-color: rgb(98, 98, 189);
  color: whitesmoke;
  padding: 1.2vw;
  border-radius: 1vw;
  font-weight: 550;
}
.profile-container-tr {
  width: 60vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1vh;
}
.follow-tracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-followers {
  padding: 4vh 4vh 1vh 0;
  text-align: center;
}
.profile-following {
  padding: 4vh 1vh 1vh 4vh;
  text-align: center;
}
.follower-header,
.following-header {
  font-weight: 400;
}
.follower-count {
  font-weight: 700;
}
.following-count {
  font-weight: 700;
}
.bio-container {
  padding: 7vh 0 0 0;
  display: flex;
  justify-content: center;
}
/* Bottom Container*/

.profile-container-btm{
  width:100vw;
  display:flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btm-header{
  font-family:"Roboto Mono";
  font-weight: 600;
  color:rgb(98, 98, 189);
  padding: 1vh;
}
