.gallery-wrapper {
    width: 100%;
    overflow-x:auto;
    overflow-y:auto;
    white-space: nowrap;
    margin-bottom: 20px; 
    padding:3vw;
    align-items: center;
  }
  
  .gallery {
    display: flex;
  }
  
  .gallery > div {
    flex: 0 0 auto;
    margin-right: 10px;
  }

